.mat-toolbar {
    display: flex;
    background-color: #5e5f57;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.2);
}

.RunningArtist {
    background: linear-gradient(to right, #9ef820ba, #05a8d1);
    font-size: 1.6em;
    -webkit-background-clip: text; /* Para aplicar el gradiente al texto */
    background-clip: text; /* Para aplicar el gradiente al texto */
    color: transparent; /* Hace que el texto sea transparente para que el gradiente sea visible */
}

.toolbar-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.navbar{
    list-style: none;
    display: flex;
    flex-direction: row;
}

.nav-item{
    margin: 0 1rem;
    text-align: right;
}

.toolbar-btn{
    color: #31361b;
    background-color: #0395c1;
    font-size: 1.5em;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.toolbar-btn:hover {
    background-color: #03f6b5;
}