<div class="container">
    <mat-toolbar class="toolbar-box">   
        
        <span class="RunningArtist">Cinemark</span>   
        <span class="spacer"></span>
        
        <ul class="navbar">
            <li class="nav-item">
              <button mat-button class="toolbar-btn" aria-label="Home button" (click)="pageHome()">Home</button>&nbsp;
            </li>
            <li class="nav-item">
              <button mat-button class="toolbar-btn" aria-label="Offers button" (click)="pageOffers()">Offers</button>&nbsp;
            </li>
        </ul>
    
    </mat-toolbar>
</div>
