<div class="container">
  <br>
  <mat-card class="count-card">

      <mat-card-header class="texto">
        <mat-card-title> Current Offers Count</mat-card-title>
        <mat-card-subtitle>The number of offers is:</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content class="cuenta">
        <p class="offer-count">{{Offers.length}}</p> <!--El numero de ofertas es la longitud del arreglo de objetos de ofertas-->
      </mat-card-content>

      <mat-card-actions class="boton">
        <button mat-button class="ViewButton" routerLink="/offers"> View all Offers </button>
      </mat-card-actions>

  </mat-card>
</div>